@mixin adaptive($_minWidth) {
  @media (max-width: $_minWidth) {
    @content;
  }
}
.wrapper {
  padding: 30px;
  .review {
    display: grid;
    grid-template-columns: [start] auto auto 1fr auto [end];
    align-items: center;
    padding: 10px;
    border-bottom: 1px soldi grey;

    @include adaptive(625px) {
      grid-template-columns: [start] 30px auto 1fr [end];
    }

    .image {
      width: fit-content;
      grid-column: start / 2;
    }
    .name {
      grid-column: 2 / 3;
      margin-left: 10px;
      color: var(--text--color);
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
    }
    .title {
      margin-left: 10px;
      grid-column: 3 / 4;
      color: var(--text--color);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .date {
      grid-column: 4 / 5;
      margin-right: 20px;
      text-align: right;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: var(--text--color);

      @include adaptive(625px) {
        grid-column: 3 / end;
        grid-row: 2 / 3;
        text-align: right;
      }
    }
    .rating {
      grid-column: 5 / 6;

      @include adaptive(625px) {
        grid-column: 1 / 3;
        padding-top: 10px;
      }
    }
    .description {
      margin-top: 12px;
      grid-column: start / end;
      grid-row: 2 / 3;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      color: var(--text--color);

      @include adaptive(625px) {
        grid-row: 3/ 4;
      }
    }
  }
}
