.filled {
  fill: var(--background--primary);
}
.star {
  margin-right: 5px;
}

.editable {
  fill: var(--background--primary);
}

.wrapper {
  position: relative;

  .errorMessage {
    position: absolute;
    color: red;
    left: 25px;
    bottom: -20px;
    font-size: 13px;
  }
}

.error svg {
  stroke: red;
}
