@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap");
@import "../layouts/menu/menu.module.scss";
:root {
  --text--color: #3b434e;
  --text--secondary--color: #fff;
  --background--hh: #de0000;
  --background--cost: #c8f8e4;
  --background--topTag: #b3c0d9;
  --background--primary: #7653fc;
  --text--color-cost: #1dc37e;
  --text--ghost: #ebebeb;
  --wrapper--color: #f5f6f8;
}
html,
body {
  font-family: "Noto Sans", sans-serif;
  max-height: 100vw;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
